/*************************************************
    GENERAL STYLES
 *************************************************/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary-color : rgb(0, 132, 253) ;
    --second-color : rgb(181, 221, 255) ;
    --third-color : rgb(151, 146, 228);
    --fourth-color : white;
    --fifth-color : rgb(90, 110, 127);
    --sixth-color : black;
}
.bg-primary {
    background-color: var(--primary-color);
}
.bg-second {
    background-color: var(--second-color);
}
.bg-third {
    background-color: var(--third-color);
}
.bg-fourth {
    background-color: var(--fourth-color);
}
.bg-grey {
    background-color: rgb(51, 51, 51);
}
/************************************************
    UTILITIES
 ************************************************/
header {
    width: 100%;
}

.container {
    width: 90%;
    margin: 0px auto;
}

.cards {
    width: 100%;
}

.card {
    width: 100%;
    margin: 2rem auto;
    padding: 2rem 2rem;
    text-align: center;
    border-radius: 3rem;
    line-height: 2rem;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.justify-content {
    justify-content: center;
}
img {
    max-width: 100%;
}
.padding {
    padding: 1rem 0rem;
}
.button {
    padding:0.8rem;
    border: none;
    border-radius: 2rem;
}
.title {
    text-align: center;
}
/************************************************
    SITE SECTIONS
 ************************************************/
    /* NAV BAR */
    header .container {
        padding: 0.5rem 0rem;
        color: var(--fourth-color); 
    }

    .nav ul{
        display: none;
        align-items: center;
    }
    .nav ul li{
        padding-left: 1rem;
        list-style-type: none;
    }
    .nav ul li a{
        text-decoration: none;
        color: var(--fourth-color);
    }
    .nav ul li .button {
        background-color: var(--fourth-color);
        color: var(--sixth-color);
    }

    /* DEMO-APPLICATION */
    .demo-application .card {
        background-color: var(--second-color);
        padding-bottom: 0rem;
    }
    .demo-application .card .fa-solid {
        font-size: 5rem;
        color: var(--primary-color);
    }
    .demo-application .card h2 {
        color: var(--primary-color);
    }
    .demo-application .card p {
        color: var(--fifth-color);
    }
    .demo-application .button {
        background-color: var(--primary-color);
        color: var(--fourth-color);
        padding: 1rem 2rem 1rem 2rem;
        font-size: 1rem;
        word-spacing: 0.2rem;
    }
    .demo-application .card img {
        padding-top: 5rem;
        align-self: flex-end;
        display: block;
        margin: 0rem auto;
    }
    

    /* STRATEGIC-PLANNING */
    .strategic-planning  {
        padding: 2rem 0rem;
    }
    .strategic-planning .planning-card {
        color: var(--fourth-color);
    }
    .strategic-planning .card button {
        border-radius: 50%;
        border: none;
        background-color: var(--third-color);
        width: 3rem;
        height: 3rem;
    }

    /* TESTIMONIALS */
    .testimonials .card img {
        width: 200px;
        height: 200px;   
        border-radius: 50%;
    }
    .testimonials .card {
        color: var(--fourth-color);
    }
    .testimonials .card:first-child{
        color: var(--sixth-color);
    }
    .testimonials .title:first-child h2 {
        color: var(--third-color);
    }
   

    /* BENEFIT-WORKING */
    .benefit-working {
        padding: 2rem 0rem;
    }
    .benefit-working .card {
        text-align: unset;
        color: var(--third-color);
    }
    .benefit-working .card span {
        font-size: 3rem;
        font-weight: bold;
    }
    .benefit-working .card .button {
        background-color: var(--third-color);
        color: var(--fourth-color);
        width: 10rem;
        text-align: center;
    }

    /* About Us */
    .about-us .card {
        text-align: unset;
        position: relative;
        padding-left: 0rem;
    }
    .about-us .card .color{
        color: var(--third-color);
    }
    .about-us .card img {
        width: 200px;
        height: 200px;   
        border-radius: 50%;
    }
    .about-us .card .circle i {
        position: absolute;
        font-size: 5rem;
        left: 10rem;
    }
    .about-us .card .button {
        background-color: var(--third-color);
        color: var(--fourth-color);
        width: 12rem;
        text-align: center;
        padding: 0.2rem;
    }
    .about-us .card p {
        font-weight: bolder;
        font-size: 2rem;
    }

    /* GET STARTED */
    .get-started .card {
        color: var(--fourth-color);
    }

    .get-started .card h2 {
        color: orange;
        font-size: 50px;
    }
    .get-started .card span {
        font-weight: lighter;
    }
    .get-started .card .button {
        background-color: var(--fourth-color);
        color: var(--third-color);
    }
    /* FOOTER */
    footer {
        color: var(--fourth-color);
        text-align: center;
        margin: auto;
    }
/************************************************
    RESPONSIVE
 ************************************************/
        @media screen and (min-width: 768px) {

            .container {
                width: 728px;
            }
            
            /* DEMO-APPLICATION */
            .demo-application .cards {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .demo-application .card {
                width: calc( (100% / 3) - 2rem );
                margin: 1rem 0rem;
            }

            .demo-application .card:first-child {
                width: calc( (100% / 3 * 2) - 1rem);
            }
            .demo-application .card-big {
                padding-bottom: 0rem;
            }
            
            /* BENEFIT-WORKING */
            .benefit-working .cards {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .benefit-working .card {
                width: calc( (100% / 2) - 2rem);
                margin: 1rem 0rem;
            }

            /* TESTIMONIALS */
            .testimonials .card {
                display: flex;
              
            }
            .testimonials .card .text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 2rem;
            }
            .testimonials .card img{
                max-width: none;
            }
            .testimonials .card .text .name{
                text-align: start;
                vertical-align: middle;
            }

            /* ABOUT-US */
            .about-us .cards {
                display: flex;
            }

        }

        @media screen and (min-width: 992px) {

            .container {
                width: 930px;
            }
            
            /* NAV BAR */
            .nav ul{
                display: flex;
            }
            
            .header-right i {
                display: none;
            }
            
            /* DEMO-APPLICATION */
            .demo-application .card-big {
                display: flex;
                padding-bottom: 0;
            }

            .demo-application .big-left {
                text-align: start;
                width: 60%;
            }

            .demo-application .card img {
                width: 40%;
            }
            
            /* STRATEGIC-PLANNING */
            .strategic-planning .container {
                display: flex;
                justify-content: center;
            }

            .strategic-planning .cards {
                display: flex;
            }

            .strategic-planning .card{
                margin-bottom: 0rem;
            }
            .strategic-planning .planning-card {
                padding: 3rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
            }
            .strategic-planning .card:last-child {
                margin-top: 10rem;
            }

            /* BENEFIT-WORKING */
            .benefit-working .card {
                width: calc( (100% / 3) - 2rem);
                margin: 1rem 0rem;
            }
        }

        @media screen and (min-width: 1200px) {
            .container {
                width: 1160px;
            }
            
        }

