/*************************************************
    GENERAL STYLES
 *************************************************/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color : rgb(0, 132, 253) ;
    --second-color : rgb(181, 221, 255) ;
    --third-color : rgb(151, 146, 228);
    --fourth-color : white;
}
.bg-primary {
    background-color: var(--primary-color);
}
.bg-second {
    background-color: var(--second-color);
}
.bg-third {
    background-color: var(--third-color);
}
.bg-fourth {
    background-color: var(--fourth-color);
}
.bg-black {
    background-color: black;
}
/************************************************
    UTILITIES
 ************************************************/
header {
    width: 100%;
}

.container {
    width: 90%;
    margin: 0px auto;
}

.cards {
    width: 100%;
    margin-top: 2rem;
}

.card {
    width: 90%;
    margin: 0px auto;
    text-align: center;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.justify-content {
    justify-content: center;
}
img {
    max-width: 100%;
}

/************************************************
    SITE SECTIONS
 ************************************************/
 header .container {
    padding-bottom: 1rem;
    color: white; 
 }

 .demo-application .cards {
    background-color: var(--second-color);
 }
/************************************************
    RESPONSIVE
 ************************************************/
@media screen and (min-width: 768px) {

    .container {
        width: 728px;
    }
    .cards {
        width: calc( (100% / 3) - 2rem );
        margin: 1rem;
    }
    .cards:first-child {
        width: calc( (100% / 3 * 2) - 2rem);
    }

    .demo-application .container {
        display: flex;
        flex-wrap: wrap;
    }

}

@media screen and (min-width: 992px) {
    .container {
        width: 930px;
    }
    .card {
       margin: 0px;
    }
    .card-big {
        display: flex;
    }
    .big-left {
        text-align: start;
        width: 60%;
    }

    .demo-application .card img {
        width: 40%;
    }

    .strategic-planing .container {
        display: flex;
        justify-content: center;
    }

}

@media screen and (min-width: 1200px) {
    .container {
        width: 1160px;
    }
    
}

