/*************************************************
    GENERAL STYLES
 *************************************************/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color : rgb(0, 132, 253) ;
    --second-color : rgb(181, 221, 255) ;
}
/************************************************
    UTILITIES
 ************************************************/
header {
    width: 100%;
    background-color: var(--primary-color);
}

.container {
    width: 90%;
    margin: 0px auto;
}

.cards {
    background-color: var(--second-color);
    width: 100%;
    margin-top: 2rem;
}

.card {
    width: 90%;
    margin: 0px auto;
    text-align: center;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.justify-content {
    justify-content: center;
}
img {
    max-width: 100%;
}
/************************************************
    SITE SECTIONS
 ************************************************/
 header .container {
    padding-bottom: 1rem;
    color: white; 
 }
 /************************************************
    RESPONSIVE
 ************************************************/
@media screen and (min-width: 768px) {

    .container {
        width: 728px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .cards {
        width: calc( (100% / 3) - 2rem );
        margin: 1rem;
    }
    .cards:first-child {
        width: calc( (100% / 3 * 2) - 2rem);
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 792px;
    }
    .card {
       margin: 0px;
    }
    .card-big {
        display: flex;
    }
    .big-left {
        text-align: start;
        width: 60%;
    }
    #demo-application .card img {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 900px;
    }
    
}

